

#titulo{
    background-image: url(media/minepng.png);
    background-size:contain;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    height: 100px;
    width: 600px;
    border-radius: 10px;
    
}

#titulo:hover{
    background-color: green;
    opacity:0.5;
}
#cent{
    margin-top: 50px;
}

.btn{
    text-align: center;
    text-decoration: none; 
    width: 300px;
    height: 10px;
    
    background-color: rgb(119, 119, 145);
    border-radius:5px;
   
    padding:25px;
    display: block;
   
}
body{
background-image: url(media/minecraft\ fondo.gif);
background-size:cover;

}
.btn:hover{
    border:solid, chartreuse, 2px;
    background-color: rgb(58, 58, 59);
color: rgb(131, 255, 69);
}

   
