

#titulo{/*Se inserto una imagen en formato png adactado para el titulo*/
    background-image: url(media/minepng.png);
    background-size:600px, 800px;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    height: 100px;
    width: 600px;
    border-radius: 10px;
}

#titulo:hover{/*combio de color al pasar el cursor por ensima*/
    background-color: green;
    opacity:0.5;
}

#cent{
    margin-top: 50px;
}

.btn{/*forma y color de los botones*/

    width: 400px;
  
    background-color: rgb(119, 119, 145);
    border-radius:5px;
    padding:25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn:hover{/*color de los botones al pasar el cursor por encima*/
    background-color: rgb(58, 58, 59);
color: rgb(131, 255, 69);
}

.enl{
    text-decoration: none;
}

body{/*imagen de fondo en formato gif*/
background-image: url(media/minecraft\ fondo.gif);
background-size:cover;
background-position: 0px;
}

#vers{/*color de texto de: version del juego*/
    color: black;
    text-decoration: none;
}
#vers:hover{
    color: rgb(241, 255, 241); 
}
