
.dv1{/*zona de la interfaz para el imput y los buttons*/
    margin-top : 50px;
    margin-left: 500px;
    margin-right: 500px;
    
    padding-top: 50px;
    text-align: center;
    background-color: rgb(90, 136, 97);
    background-size: cover;
    opacity: 0.9;
}
#name{/*posicion del imput nombre*/
    margin-right: 19px;
    padding-right: 8px;
   
}
#email{/*posicion del input email*/
    margin-right: 15px;
    padding-right: 8px;
}
#pass{/*posicion del imput contraseña*/
    margin-right: 37px;
    padding-right: 8px;
}
#reg{/*posicion del los boton volver y el color de este*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: gray;
    color: black;
    margin-top: 5px;
}
#reg:hover{/*cambio de color al pasar el cursor por ensima*/
    background-color: rgb(74, 72, 72);
    color: chartreuse;
}
#enviar{/*posicion del los boton registro y el color de este*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 72px;
    padding-right: 72px;
    background-color: gray;
    color: black;
}
#enviar:hover{/*cambio de color al pasar el cursor por ensima*/
    background-color: rgb(74, 72, 72);
    color: chartreuse;
}
body{/*la imagen de fondo en formato jpg*/
    
    background-image: url(media/menuminecraft.jpg);
    background-size: cover;
    background-position: 0px;
    margin-top:150px;
}

#tienes{/*color de texto de: ¿tienes una cuenta?*/
   
    color: black;
}